<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cat Code <%= code %></title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-[#7f927b] text-gray-800 min-h-screen">

  <%- include('partials/nav.ejs') %>
  <header class="text-center mt-6 mb-4">
    <div class="max-w-5xl mx-auto px-4 border-b border-white pb-2">
      <h2 class="text-2xl font-bold mb-2">Code: <%= code %></h2>
    </div>
  </header>

  <main class="flex flex-col md:flex-row items-center justify-center gap-10 p-6">
    <img src="https://http.cat/<%= code %>" alt="HTTP Cat <%= code %>" class="rounded-lg w-96 shadow" />
    <div class="text-center md:text-left">
      <p class="max-w-md"><strong>Description:</strong> <%= description %></p>
    </div>
  </main>

</body>
</html>
